<div class="backdrop" ></div>
<header class="main-header" style="background-color: rebeccapurple;">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav" >
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/">Shop</a>
            </li>
            <!-- <li class="main-header__item">
                <a %>" href="/products">Products</a>
            </li> -->
            <% if (isAuthenticated) { %>
                <li class="main-header__item">
                    <a href="/cart">Cart</a>
                </li>
                <li class="main-header__item">
                    <a " href="/orders">Orders</a>
                </li>
                <li class="main-header__item">
                    <a ve' : '' %>" href="/admin/add-product">Add Product
                    </a>
                </li>
                <li class="main-header__item">
                    <a  : '' %>" href="/admin/adminProduct">Admin Products
                    </a>
                </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a  href="/login">Login</a>
                    
                </li>
                <li class="main-header__item">
                    <a " href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a href="/">Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a href="/products">Products</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/orders">Orders</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/admin/add-product" >Add Product
                </a>
            </li>
            <li class="mobile-nav__item">
                <a href="/admin/adminProduct" >Admin Products
                </a>
            </li>
        <% } %>
        <% if (!isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>